.show-card {
  position: relative;
  width: auto;
  display: flex;
  height: auto;
}

.image {
  height: auto;
  overflow: hidden;
  border-radius: 4px;
}
img {
  padding-left: 0;
}

.caption {
  position: absolute;
  border-radius: 0px 0px 4px 4px;
  background: rgba(0, 133, 255, 0.6);
  text-align: center;
  width: 100%;
  height: 6vh;
  bottom: 0;

  font-family: Roboto;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}
