  .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
  }
  
  .card {
    width: 24%;
    margin: 10px 0;
  }
  .card-title {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .card-channel {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .category-list{
    padding: 10px 0;
  }
  
  /* Tablets */
  @media (max-width: 1000px) {
    .card {
      width: calc(50% - 22px);
    }
  }
  
  /* Mobiles */
  @media (max-width: 640px) {
    .card {
      width: 90%;
      margin: 10px 0;
    }
  }